<h1>Create New Question</h1>
<%#= render("/questions/form") %>
<%#= This will look for a partial named _form.html.erb
    within the same folder as teh file we're in (new.html.erb) and
    render iti n here.
    Partials can access instance variables but not local variables.

    To pass local variables:
    <% a = 3%>
    <%#= then a: my_var in render form. Can also use @q:q, then just use q in _form%>
<%= render "form" %>
